.syntax .builtin,
.token.keyword {
  color: darkgoldenrod;
}

.syntax .comment,
.token.comment {
  color: dimgray;
}

.syntax .identifier {
  color: darkorange;
}

.syntax .linenumber {
  color: lightgray;
}

.syntax .number,
.token.number {
  color: darkturquoise;
}

.syntax .string,
.token.string {
  color: forestgreen;
}

.syntax .type,
.token.builtin {
  color: darkred;
}
