.syntax .builtin {
  color: darkgoldenrod;
}

.syntax .comment {
  color: dimgray;
}

.syntax .identifier {
  color: darkorange;
}

.syntax .linenumber {
  color: lightgray;
}

.syntax .number {
  color: darkturquoise;
}

.syntax .string {
  color: forestgreen;
}

.syntax .type {
  color: darkred;
}
